@model List<Product>

<div>
    <ul>
        @{ foreach (var item in Model)
            {
                <li> @item.Name </li>
            }
<<<<<<< HEAD
         }
=======
        }
>>>>>>> e182333
    </ul>
</div>