@using Microsoft.AspNetCore.Authentication

<h1> Welcome</h1>
<h3>Datas of Claim</h3>
<a class="btn btn-danger" asp-action="LogOut" asp-controller="User">Log out</a>
<br /><br /><br />
<a class="btn btn-primary" asp-action="GetRefreshToken" asp-controller="User">Get refresh token</a>
<br /><br /><br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Claim type
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in User.Claims)
            {
                <tr>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Datas of Authentication</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Auth key
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
            {
                <tr>
                    <td>
                        @item.Key
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

